PORT=3949
NODE_ENV=development

DATABASE_URL=postgresql://username:password@localhost:5432/blogsplitter

AWS_REGION=us-west-2
AWS_S3_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

FRONTEND_URL=http://localhost:3000